body {
  background: #44a08d;
  background: -webkit-linear-gradient(to right, #093637, #44a08d);
  background: linear-gradient(to right, #093637, #44a08d);
}

.picture-panel {
  display: flex;
  justify-content: center;
  padding: 5%;
}

canvas {
  background-color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around; 
  font-weight: bold;
  background-color: #73C6B6;
  color:#121A26  ;
  
}

.flex-container > * {
  margin:10px;
}

.title {
  text-align: center;
  color: #44a08d;
  background: #121A26;
  padding: 15px;
  margin: 0px;

}
