body {
background: #44A08D; 
background: -webkit-linear-gradient(to right, #093637, #44A08D); 
background: linear-gradient(to right, #093637, #44A08D); 
}

.picture-panel {
  display: flex;
  justify-content: center;
}


.canvas {
  /* position: absolute; */
  right: 30%;
  top: 30%;  
}

.flex-container{
  display: flex;
  flex-direction: column ;
  justify-content: space-around;
  /* width: 40px; */
  /* height: 40px; */
  background-color: whitesmoke;
  color: black;

}